@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
​
​
.col-lg-4 {
    flex: 0 0 99.33333%;
    max-width: 100%;
}
.area-box {
    padding: 40px 30px;
    transition: all 0.5s ease 0s;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    position: relative;
    margin-bottom: 30px;
    
     display: flex;
   
}
​
p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    font-family: 'Jost', sans-serif;
    
}
​
.img-circle {
    width: 80px;
    height: 80px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 10%;
}
​
.img-circle img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
​
.col-md-8 {
	float: right;
	
}
​
.twice-two {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}
​
.list-date{
	margin-bottom: 30px;
	margin-top: 60px;
	font-weight:600;
	
}
.button {
  font-size: 18px;
  font-weight: 400;
  padding: 15px;
  color: #fff;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  margin-right: 250px;
  background: #754929C7;
​
}
.button:hover {
  background: #754929;
  color: #fff;
}
.btnclass{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
}
@media (min-width: 1028px)
.col-lg-4 {
    max-width: 600;
    width: 1000px;
}
