<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
   	   <typeAlias alias="Walk" type="pet.mvc.walk.Walk"/>
   	   <typeAlias alias="WalkListVo" type="pet.mvc.walk.WalkListVo"/>
   	   <typeAlias alias="WalkComment" type="pet.mvc.walk.Comment"/>
   </typeAliases>
   <mappers>
   		<mapper resource="pet/mvc/mapper/IndexMapper.xml"/>
   		<mapper resource="pet/mvc/mapper/WalkMapper.xml"/>
   </mappers>
</configuration>
