<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pet.shop.mapper.ProductMapper">
	<select id="selectPerpage" resultType="Product" parameterType="ProductVo">
	<![CDATA[ 
	select * from (select ROWNUM rnum, aa.* from (select * from PRODUCT order by PRODUCT_CODE desc) aa)
	where rnum>#{startRow} and rnum=#{endRow}
	]]>
	</select>
	<select id="selectByCatgo" resultType="Product" parameterType="ProductVo">
	<![CDATA[
	select * from (select ROWNUM rnum, aa.* from (select * from PRODUCT where ${catgo} like '%'||#{keyword}||'%' ) aa)
	where rnum>#{startRow} and rnum<=#{endRow}
	]]>
	</select>
	<select id="selectBySeq" parameterType="long" resultType="Product">
	select * from PRODUCT where product_code=#{product_code}
	</select>
	<select id="selectCount" resultType="long">
	select count(product_code) from product
	</select>
	<select id="selectCountByCatgo" parameterType="ProductVo" resultType="long">
	select count(product_code) from PRODUCT where ${catgo} like '%'||#{keyword}||'%'
	</select>
	<insert id="insert" parameterType="Product">
		insert into PRODUCT values(PRODUCT_SEQ.nextval, #{catgo_code}, #{product_name}, 
		#{product_price}, #{product_content}, #{product_tag}, SYSDATE, #{product_like}, #{product_image}, #{review_number})
	</insert>
	<select id="listProduct" resultType="Product" parameterType="Product">
	   <!--  select * from PRODUCT where CATGO_CODE= #{catgo_code}-->
	   select * from product where catgo_code=#{catgo_code} and product_code=#{product_code}
	</select>
	<select id="listProduct3" resultType="Product" parameterType="long">
		select * from product where catgo_code=#{catgo_code} 
	</select>
	<select id="listCatgo" resultType="Category" parameterType="long">
		select * from CATGO where CATGO_CODE= #{catgo_code} 
	</select>
	<select id="contentReview" resultType="Review" parameterType="long">
		select * from REVIEW 
	</select>
	<select id="listProduct2" resultType="Product" parameterType="long">
		select * from product where not product_code=6
	</select>
	<select id="listReview2" resultType="Review" parameterType="long">
		select * from REVIEW 
	</select>
	<insert id="insertReview" parameterType="Review">
		insert into REVIEW values(
		#{member_number},
		#{review_subject}, 
		#{review_message}, 
		#{review_email},
		review_seq.nextval,
		#{catgo_code}
		)
	</insert>
	<select id="listOption" parameterType="long" resultType="Option">
		select * from product where product_code=#{product_code}
	</select>
	<insert id="insertOption" parameterType="Option">
		insert into product_option values(
		#{product_code},
		#{product_amount},
		#{product_size}
		)
	</insert>
	<select id="contentProduct" parameterType="long" resultType="Product">
	select * from PRODUCT natural join PRODUCT_PIC where catgo_code=#{catgo_code}
	</select>
</mapper>