<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pet.mvc.mapper.IndexMapper">

	<select id="getWalkList" resultType="Walk">
		select * from WALK where <![CDATA[ rownum<=3 ]]>
	</select>
	<select id="getWalkData" resultType="IndexData">
		select a.totalWalks, b.totalJoins, c.notJoin, d.todayPuppy
		from
		(select count(*) totalWalks from walk) a,
		(select count(*) totalJoins from walk_join) b,
		(select count(*) notJoin from walk left join walk_join on walk.walk_idx = walk_join.walk_idx) c,
		(select count(*) todayPuppy from walk where walk_date=SYSDATE)d
	</select>
	<select id="getRecentWalk" resultType="Walk" parameterType="long">
		select ROWNUM, a.*, b.walk_date from
			(select * from walk_join where member_number = #{member_number} and member_review is null)a,
			<![CDATA[(select * from walk where walk_date<SYSDATE)b
		where a.walk_idx = b.walk_idx and ROWNUM=1
		order by walk_date desc]]>
	</select>
	<select id="getJoinMemberNumber" parameterType="long" resultType="long">
		select member_number from walk_join where walk_idx = #{walk_idx}
	</select>

</mapper>