<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pet.mvc.mapper.WalkMapper">

	<select id="getList" resultType="Walk" parameterType="WalkListVo">
		select * from (select ROWNUM rnum, a.* from (select * from WALK where WALK_DATE > SYSDATE 
		
		<if test="keyword != null and !keyword.equals('')">
			and ( (WALK_LOCATION like '%'||#{keyword}||'%') or (WALK_SUBJECT like '%'||#{keyword}||'%') )
		</if>
		
		<if test="orderType != null and !orderType.equals('')">
			<choose>
				<when test="orderType.equals('new')">
					order by WALK_RDATE desc) a
				</when>
				<otherwise>
					order by WALK_DATE) a
				</otherwise>
			</choose>
		</if>
		
		) where <![CDATA[ rnum>#{startRow} and rnum<=#{endRow} ]]>
	</select>
	
	
	<select id="totalWalk" resultType="Long" parameterType="map">
	  select count(*) from
	    <if test="keyword != null and !keyword.equals('')">
	  		(select * from WALK where
	  		 WALK_DATE > SYSDATE and
			 ((WALK_LOCATION like '%'||#{keyword}||'%') or (WALK_SUBJECT like '%'||#{keyword}||'%'))
			)
		</if>
		WALK where WALK_DATE > SYSDATE
	</select>
	
	<insert id="insertWalk" parameterType="Walk" >
    	insert into WALK values(
	    walk_SEQ.nextval,#{member_number},#{walk_writer},#{walk_type},#{walk_subject}, 
	    #{walk_content},SYSDATE,#{walk_count},#{walk_location},#{walk_date})
    </insert>
    
    <select id="getWalk" resultType="Walk" parameterType="long">
     	select * from WALK where WALK_IDX=#{idx}
    </select>
    
    <select id="getWalkCmt" resultType="WalkComment" parameterType="Long">
    	select * from WALK_CMT where WALK_IDX=#{idx}
    </select>
    
    <delete id="walkDelete" parameterType="Long">
    	delete from WALK where WALK_IDX=#{idx}
    </delete>
    
    <insert id="insertWalkCmt" parameterType="WalkComment">
    	insert into WALK_CMT values(
	    WALK_CMT_SEQ.nextval, #{walk_idx}, #{walk_cmt_writer},
	    #{walk_cmt_content}, SYSDATE)
    </insert>
    
    <update id="walkUpdate" parameterType="Walk">
	  update WALK set WALK_TYPE=#{walk_type}, WALK_SUBJECT=#{walk_subject}, WALK_CONTENT=#{walk_content},
	  WALK_LOCATION=#{walk_location}, WALK_DATE=#{walk_date}
	  where WALK_IDX=#{walk_idx}
	</update>
    

</mapper>