#content {
    margin-left: 180px;
    margin-right: 210px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 0.8em;
    line-height: 1.6;
}
p{
	font-size: 1em;	
	
}

.bbs-table {
	letter-spacing: 1px;
    width: 800px;
    align:center;

    font-size: 12px;
    margin-left:10%;
    background: fff;
    margin-top: 5%;
    font: 12px "Malgun Gothic", Malgun Gothic, Malgun Gothic;
    
}
.bbs-table th {
    color: rgb(92, 92, 92);
    border-bottom: 1px solid rgb(192, 192, 192);
}

.bbs-table td {
    padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(192, 192, 192);
	line-height: 1.45;

}
.bbs-table td a {
    color: #555;
    text-decoration: none;
}
.bbs-table td a:hover {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

#paging {
    text-align: center;
    font-size: 13px;
}
#paging > a {
    color: #555;
    text-decoration: none;
}
#paging > a:hover {
    color: #555;

}

.bbs-strong {
    color: #FFA500;
    font-weight: bold;
}

#list-menu {
    text-align: center;
}

#search {
    text-align: center;
    
}

.btn {
	position: absolute;
	margin-top: -2px;
	border: 1px solid rgb(227, 227, 227);
	background: #fff;
	color: rgb(93, 93, 93);
	font-size: 13px;
	margin-left: 5px;
}

.qna {
	width: 77px;height: 106px;
    padding: 10px;	
	
}
body{
	 margin: 300;

}


.navigation-login{
	background-color: black;
	font-size: 3rem;
	font-weight: 700;
}
.container-menu{
	margin:15px;
}

.boardtitle{
	margin-left: 25%;
	margin-top: 7%;
}
.menubar{
	 list-style-type: none;
	 top: -180px;
	 left: 0px;
	 right: 0px;
	 position: relative;
     margin: 0;
     padding: 0;
     background-color: #f1f1f1;
  	 display: block;
 	 height:50%;
}
.sidemenu {
    margin: 0;
    padding: 0;
    margin-top: 6%;
    font-size: 13px;
	font-weight: lighter;
	margin-left: 25%;
	margin-bottom:-10%;
	padding-bottom: 1%;
}
.title{
	margin-top: 150px;
	margin-left: 320px;
	
}
.pt-lg-3, .py-lg-3 {
    padding-top: 1rem !important;
    margin-top: 300px;
}
.navbar {
    padding: 0;
    margin: 10px;
}
.tbody {
    margin-top: 100px;
    width: 800px;
    height: 400px;
}
body{
	
	margin-top: 200px;
}
.header{
	position: absolute;
	margin-top: 50px;
	z-index: 1;
	background: #f7f7f7;
	
	padding: 40px 30px;
	transition: all 0.5s ease 0s;
	border-radius: var(--border-radius);
	background-color: var(--bg-color);
	position: relative;
	margin-bottom: 30px;
	margin-left: 25%;
	font-size:16px;
	border: 1px solid #dedede;
	width: 55%;
	white-space:nowrap;
}
.cont{
	margin-top:10px;
	margin-left:25%;
	padding: 40px 30px;
	transition: all 0.5s ease 0s;
	border-radius: var(--border-radius);
	background-color: var(--bg-color);
	position: relative;
	border: 1px solid #dedede;
	width: 55%;
}
.user{
	font-size:14px;
}
.date{
	font-size:14px;
	margin-top: -21px;
	margin-left: 84px;
}
.hit{
	font-size:14px;
	margin-top: -20px;
	margin-left: 168px;
	
}
.sub{
	font-size: 18px;
	margin-bottom: 7px;
	margin-top: 5px;
	font-weight: 600;
}
.reply{
	font-size:14px;
	margin-top:10px;
	margin-left:25%;
	padding: 40px 30px;
	transition: all 0.5s ease 0s;
	border-radius: var(--border-radius);
	background-color: var(--bg-color);
	position: relative;
	border: 1px solid #dedede;
	width: 55%;
}
.replyfirstsec{
	border-radius: var(--border-radius);
    background-color: #f4f4f4;
    position: relative;
    border: 1px solid #dedede;
    padding: 15px;
    margin-top: -30px;
    margin-left: -20px;
    margin-right: -20px;
}
.replysecondsec{
	margin-top: 10px;
	font-size: 12px;
}
.replywriter{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -15px;

}
.writecomment{
	font-size: 10px;
	margin-top: 40px;
}
.modify{
	font-size: 12px;
	margin-left: 88.5%;
	margin-top:-15px;
}
.delete{
	font-size: 12px;
	margin-left: 94%;
	margin-top: -17.8px;
	border-left: 1px solid #d2d2d2;
	padding-left: 2%;

}
.search{
	margin-left:41%;
}
.page{
	margin-left:500px;
}
.writeReple{
    margin-left: 26.4%;
	margin-top: 3%;
	width: 52.3%;
}
.cantWriteReple{
	margin-left: 45%;
	margin-top: 2%;
	margin-bottom: 50px;
}
.modi{
	margin-left: 88%;
	font-size: 12px;
	padding-top: 0.5%;
}
.del{
	font-size: 12px;
	margin-left: 93%;
	margin-top: -18px;
	border-left: 1px solid #d2d2d2;
	padding-left: 2%;

	
	
}
.replyEmptyZone{
	font-size:14px;
	margin-top:10px;
	margin-left:25%;
	padding: 40px 30px;
	transition: all 0.5s ease 0s;
	border-radius: var(--border-radius);
	background-color: var(--bg-color);
	position: relative;
	border: 1px solid #dedede;
	width: 55%;
}
body img {
    max-width: -webkit-fill-available;
    max-width: -moz-available;
}
.menuList{
	margin-top: 150px;
	margin-left: 25%;
	border: 1px solid rgb(192, 192, 192);
	width: 50%;
	padding: 20px;
	border-radius: var(--border-radius);
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

.like-button {
  background: none;
  border-radius: 3px;
  cursor: pointer;
  left: 50%;
  margin: auto;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 500ms ease;
}

.like-icon {
  color: #333;
  margin: 0.5em 0.75em;
  transform: scale(1);
  transition: 150ms;
}
.like-button:active .like-icon {
  transform: scale(0.75);
}

.liked > .like-icon {
  -webkit-animation: like 300ms forwards;
          animation: like 300ms forwards;
}

.text {
  font-weight: 700;
  letter-spacing: -0.57px;
  transition: 300ms;
}

@-webkit-keyframes like {
  0% {
    transform: translate(0, 0);
    -webkit-filter: blur(0px);
  }
  49% {
    -webkit-filter: blur(5px);
    transform: translate(0, -150%);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  51% {
    color: #09f;
    opacity: 1;
    transform: translate(0, 150%);
    -webkit-filter: blur(5px);
  }
  100% {
    color: #09f;
    transform: translate(0, 0);
    -webkit-filter: blur(0px);
  }
}

@keyframes like {
  0% {
    transform: translate(0, 0);
    -webkit-filter: blur(0px);
  }
  49% {
    -webkit-filter: blur(5px);
    transform: translate(0, -150%);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  51% {
    color: #09f;
    opacity: 1;
    transform: translate(0, 150%);
    -webkit-filter: blur(5px);
  }
  100% {
    color: #09f;
    transform: translate(0, 0);
    -webkit-filter: blur(0px);
  }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    font-weight:600;
}
header {
    background-color: var(--bg-color);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
.form-control {
	height: 4rem;	
	
}
.replycomment{
	 border-top: 1px solid rgb(239, 239, 239);
	margin-top: 3%;
	padding: 7% 3%;
	margin-bottom: -9%;
}

.reReplyZone{
	border-radius: var(--border-radius);
	position: relative;	
	padding: 5px;
	margin-top: -30px;
	margin-left: -20px;
	margin-right: -20px;
	border: 1px solid rgb(227, 227, 227);
}
textarea{
	border-style: none;
}
.replywriterr{
	background: white;
	margin-bottom: -25px;
	padding: 12px;
	font-weight: 300;
	margin-right: 12px;
}
.submitbtn{
	position: absolute;
	margin-left: -70px;
	margin-top: 17px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid rgb(227, 227, 227);
	background: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	color: rgb(93, 93, 93);
}
.rereple{
	border: 1px solid rgb(227, 227, 227);
    margin-top: 3%;	
}

.clickLike{
	margin-left: 45%;
	margin-top: 10%;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid rgb(229, 227, 227);
	background: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	color: cx  crgb(93, 93, 93);
}
.hamburger {
	width: 5px;
	height: 5px;
	background-color: #7c7c7c;
	margin: 6px 0;
	margin-left: 98%;
	border-radius: 1px;
	position: relative;
	bottom: 40px;
	cursor: pointer;
}
.hamDropdown{

  position: relative;
  display: inline-block;

}

.hamburger:hover .hamDropdown {
  display: block;
}
