@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  background:  #fff;
  font-family: 'Spoqa Han Sans Neo';
}

.center {
	font-family: 'Spoqa Han Sans Neo';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.mcard {
  width: 550px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.mcard h1 {
  text-align: center;
}

.mcard .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.mcard.green .additional {
  background: linear-gradient(#FFB446, #A2CCB6);
}


.mcard:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.mcard .additional .user-mcard {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.mcard .additional .user-mcard::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);*/
}

.mcard .additional .user-mcard .level,
.mcard .additional .user-mcard .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.mcard .additional .user-mcard .points {
  top: 85%;
}

.mcard .additional .user-mcard svg {
  top: 50%;
}

.mcard .additional .more-info {
  width: 400px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.mcard .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.mcard.green .additional .more-info h1 {
  margin-top:3%;
  color: #fff;
}

.mcard .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.mcard.green .additional .coords {
	margin-top:3%;
  color: #325C46;
}

.mcard .additional .coords span + span {
  float: right;
}

.mcard .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.mcard.green .additional .stats {
  color: #325C46;
}

.mcard .additional .stats > div {
  flex: 1;
  text-align: center;
}

.mcard .additional .stats i {
  display: block;
}

.mcard .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.mcard .additional .stats div.value {
  margin-top:1%;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.mcard .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.mcard .general {
  color:#FFB446;
  width: 400px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.mcard .general .more {
	margin-top:15%;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}


